@model Blog.Client.ViewModels.PostDetailsViewModel
<div class="row">
    <div class="col-lg-9 mx-auto pt-md-5">
        <h1 class="display-4">@Model.Title</h1>
        <p class="lead">@Model.Content</p>
        <ul class="nav nav-divider align-items-center">
            <li class="nav-item">
                <div class="nav-link p-0">
                    by <span class="text-reset btn-link text-primary-emphasis">@Model.Author</span>
                </div>
            </li>
            <li class="nav-item p-3">@Model.DateOfPublish</li>
        </ul>
        @if (User.IsInRole("Writer") && Model.Status == Blog.Model.Status.Rejected && Model.RejectionComments.Any())
        {
            <div class="mt-5">
                <h3>Rejection messages</h3>
                @foreach (var item in Model.RejectionComments)
                {
                    <div class="my-4 d-flex">
                        <div>
                            <div class="mb-2">
                                <h5 class="m-0">@item.User</h5>
                                <span class="me-3 small">@item.DateOfCreation</span>
                            </div>
                            <p>@item.Content</p>
                        </div>
                    </div>
                }
            </div>
        }
        @if (Model.Status == Blog.Model.Status.Published)
        {
            <div class="mt-5">
                <h3>@Model.Comments.Count comments</h3>
                @foreach (var item in Model.Comments)
                {
                    <div class="my-4 d-flex">
                        <div>
                            <div class="mb-2">
                                <h5 class="m-0">@item.User</h5>
                                <span class="me-3 small">@item.DateOfCreation</span>
                            </div>
                            <p>@item.Content</p>
                        </div>
                    </div>
                }
            </div>
            <div>
                <partial name="_ValidationSummary" />
                <h3>Leave a reply</h3>
                <form class="row g-3 mt-2" method="post">
                    <div class="col-12">
                        <label asp-for="NewComment" class="form-label"></label>
                        <textarea class="form-control" rows="3" asp-for="NewComment"></textarea>
                        <span asp-validation-for="NewComment" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Post comment</button>
                    </div>
                </form>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}